.product img {
    width: 300px;
}

.product {
    background-color: aquamarine;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.specification {
    text-align: left;
}

.cartBtn {
    text-align: center;
    gap: 5px;
    padding: 15px;
    border-radius: 20px;
    color: whitesmoke;
    background-color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
}